{% extends  'base.html' %}
{% load get_link %}
{% block title %}
<title>Change information</title>
{% endblock %}
{% block main %}
<body>
  <div class="main">
          <div class="header">
               <h1>Hi {{ user.username }}!</h1>
          <a href="{% url 'logout' %}" class="main_btn">logout</a>
          </div>
      <div class="wrap_form">
          <form method="post" class="form">
              <div>
                  <input type="text" name="first_name" maxlength="150" id="id_first_name" placeholder="First name">
              </div>
               <div>
                   <input type="text" name="last_name" maxlength="150" id="id_last_name" placeholder="Last name">
              </div>
              <div>
                  <input type="text" name="phone" maxlength="13" required="" id="id_phone" placeholder="Phone">
              </div>
              <div>
                  <input type="date" name="birthday" placeholder="Birthday" required="" id="id_birthday">
              </div>
              <div>
                  <input type="text" name="place_of_birth" maxlength="255" required="" id="id_place_of_birth" placeholder="Place of birth">
              </div>
              <div>
                  <textarea name="biography" cols="40" rows="10" id="id_biography" placeholder="Biography"></textarea>
              </div>
              {% csrf_token %}
              <button type="submit" class="main_btn">Save</button>
              <a href="{% url 'account-info' %}" class="main_btn">Назад</a>
         </form>
      </div>
   </div>
</body>
{% endblock %}