{% extends  'base.html' %}
{% load get_link %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block main %}
<body>
    <div class="main">
        <div class="header">
            <h1>Hi {{ user.username }}!</h1>
        <a href="{% url 'logout' %}" class="main_btn">logout</a>
        </div>
        <div class="account_info">
            <table>
                <tr>
                    <th></th>
                    <th>{{ user.username }} info</th>
                </tr>
              <tr>
                <td>First name</td>
                <td>{% if user.first_name %}  {{ user.first_name }} {% else %} -{% endif %}</td>
              </tr>
              <tr>
                <td>Last name</td>
                <td> {% if user.last_name %}  {{ user.last_name }} {% else %} -{% endif %}</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td>
                    email: {% if user.email %}  {{ user.email }} {% else %} -{% endif %}<br>
                    phone:{% if user.phone %}  {{ user.phone }} {% else %} -{% endif %}
                </td>
                  <tr>
                <td>Birthday</td>
                <td>{% if user.birthday %}{{ user.birthday  }} {% else %} -{% endif %}</td>
              </tr>
                <tr>
                <td>Place of birth</td>
                <td>{% if user.place_of_birth %}{{ user.place_of_birth  }} {% else %} -{% endif %}</td>
              </tr>
                 <tr>
                <td>Biography</td>
                <td>{% if user.biography %}{{ user.biography  }} {% else %} -{% endif %}</td>
              </tr>
            </table>
            <a href="{% url 'change_info' %}" class="main_btn">Change info</a>
        </div>
        </div>
    </div>
</body>
{% endblock %}
