{% extends  'base.html' %}
{% load get_link %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block main %}
<body>
    <div class="main_wrapper">
        <div class='right_main_block'>
            <h1 class="text-center">Login! </h1>
                  <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="main_btn">Login</button>
                      <a href="{% url 'registration' %}" class="main_btn">Назад</a>
                </form>
        </div>
        <div class="main_background"></div>
    </div>
</body>
{% endblock %}