{% extends  'base.html' %}
{% load get_link %}
{% block title %}
<title>Sign in</title>
{% endblock %}
{% block main %}
<body>
    <div class="main_wrapper">
        <div class='right_main_block'>
              <h1 class="text-center">Hello! </h1>
                <h2 class="text-center">Welcome to the Our site</h2>
                <a href="{% url 'login' %}" class="main_btn">Login</a>
                </form>
              <a href="{% url 'signup' %}" class="main_btn">Signup</a>
        </div>
        <div class="main_background"> </div>
    </div>
</body>
{% endblock %}