.main_btn {
    text-align: center;
    min-width: 150px;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.main_btn:hover {
    background-position: right center;
}

.header {
    position: relative;
    min-height: 85px;
}

.header .main_btn{
    position: absolute;
    top: 5px;
    right: 40px;
}

.header h1 {
    padding: 30px 10px 30px 25px;
}

.right_main_block {
    width: 30%;
    background: aliceblue;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

button.main_btn {
    border: none;
}

.main {
    max-width: 80%;
    margin: 20px auto 20px auto;
    background: white;
    min-height: calc(100vh - 40px);
    padding: 25px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}

.account_info table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.account_info table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.account_info table td {
	border: 1px solid #dddddd;
	padding: 10px 10px 10px 20px;
}

.form input {
    border-radius: 10px;
    border: 1px solid #9EEFE1;
    padding: 5px 10px 5px 10px;
}

.wrap_form{
    max-width: 200px;
    border: 1px solid #9EEFE1;
    padding: 25px;
}

.main_background {
    width: 70%;
    height: 100vh;
    background: url('/static/images/background.png');
}

.main_wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
}
