<!DOCTYPE html>
{% load static %}
{% load get_link %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}"/>

    {% block title %}
      {% endblock %}
</head>
    {% block main %}
    {% endblock %}
</html>